In [66]:
# imports 
import pandas as pd
import numpy as np
import scipy.stats as stats
import matplotlib.pyplot as plt

%matplotlib inline
plt.style.use('ggplot')

In [67]:
# data imports
dow = pd.read_csv('data/^DJI.csv')        # Dow Jones Industrial Index 
nasdaq = pd.read_csv('data/^IXIC.csv')    # Nasdaq Composite Index
SP500 = pd.read_csv('data/^GSPC.csv')     # S&P 500 Index

In [68]:
dow_filtered = dow[dow['Date'] > '1985-01-31']
dow_filtered

,Date,Open,High,Low,Close,Adj Close,Volume
3,1985-02-01,1276.939941,1286.109985,1269.770020,1277.719971,1277.719971,10980000
4,1985-02-04,1272.079956,1294.939941,1268.989990,1290.079956,1290.079956,11630000
5,1985-02-05,1294.060059,1301.130005,1278.599976,1285.229980,1285.229980,13800000
6,1985-02-06,1284.890015,1294.500000,1275.069946,1280.589966,1280.589966,14610000
7,1985-02-07,1285.000000,1297.040039,1279.810059,1290.079956,1290.079956,11440000
...,...,...,...,...,...,...,...
9004,2020-10-19,28633.550781,28711.929688,28139.400391,28195.419922,28195.419922,358700000
9005,2020-10-20,28245.849609,28575.029297,28243.039063,28308.789063,28308.789063,350220000
9006,2020-10-21,28270.660156,28450.640625,28196.390625,28210.820313,28210.820313,299420000
9007,2020-10-22,28197.419922,28421.310547,28040.179688,28363.660156,28363.660156,330320000
9008,2020-10-23,28409.650391,28436.519531,28149.820313,28335.570313,28335.570313,347300000

In [69]:
nasdaq_filtered = nasdaq[nasdaq['Date'] > '1985-01-31']
nasdaq_filtered

,Date,Open,High,Low,Close,Adj Close,Volume
3535,1985-02-01,277.899994,278.500000,277.899994,278.399994,278.399994,85330000
3536,1985-02-04,278.799988,280.799988,278.799988,280.799988,280.799988,88440000
3537,1985-02-05,281.799988,282.700012,281.799988,282.600006,282.600006,98950000
3538,1985-02-06,283.799988,284.700012,283.799988,284.500000,284.500000,102300000
3539,1985-02-07,285.500000,287.100006,285.500000,287.100006,287.100006,110230000
...,...,...,...,...,...,...,...
12536,2020-10-19,11732.339844,11778.110352,11454.570313,11478.879883,11478.879883,3455430000
12537,2020-10-20,11531.830078,11632.889648,11471.230469,11516.490234,11516.490234,3483200000
12538,2020-10-21,11530.389648,11613.790039,11476.080078,11484.690430,11484.690430,3445520000
12539,2020-10-22,11526.969727,11548.769531,11369.290039,11506.009766,11506.009766,3414590000
12540,2020-10-23,11536.009766,11548.849609,11434.860352,11548.280273,11548.280273,3134240000

In [70]:
SP500_filtered = SP500[SP500['Date'] > '1985-01-31']
SP500_filtered

,Date,Open,High,Low,Close,Adj Close,Volume
14309,1985-02-01,179.630005,179.630005,178.440002,178.630005,178.630005,105400000
14310,1985-02-04,178.630005,180.350006,177.750000,180.350006,180.350006,113700000
14311,1985-02-05,180.350006,181.529999,180.070007,180.610001,180.610001,143900000
14312,1985-02-06,180.610001,181.500000,180.320007,180.429993,180.429993,141000000
14313,1985-02-07,180.429993,181.960007,180.429993,181.820007,181.820007,151700000
...,...,...,...,...,...,...,...
23310,2020-10-19,3493.659912,3502.419922,3419.929932,3426.919922,3426.919922,4086200000
23311,2020-10-20,3439.379883,3476.929932,3435.649902,3443.120117,3443.120117,3901260000
23312,2020-10-21,3439.909912,3464.860107,3433.060059,3435.560059,3435.560059,4097750000
23313,2020-10-22,3438.500000,3460.530029,3415.340088,3453.489990,3453.489990,4163630000
23314,2020-10-23,3464.899902,3466.459961,3440.449951,3465.389893,3465.389893,3646570000

In [71]:
x = range(len(dow_filtered['Volume']))
x

range(0, 9006)

In [50]:
y = dow_filtered['Volume'].pct_change()
# returns_daily = dow_filtered.pct_change()
# y = dow_filtered['Volume'].pct_change()
y

3            NaN
4       0.059199
5       0.186586
6       0.058696
7      -0.216975
          ...
9004    0.007188
9005   -0.023641
9006   -0.145052
9007    0.103200
9008    0.051405
Name: Volume, Length: 9006, dtype: float64

In [73]:
# dow_filtered['Close'].apply(lambda x: x.truediv(x.iloc[0]).subtract(1).mul(100))
dow_filtered['ret_dailies'] = dow_filtered.Close.pct_change()
dow_filtered

/home/yamasjose/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Date,Open,High,Low,Close,Adj Close,Volume,ret_dailies
3,1985-02-01,1276.939941,1286.109985,1269.770020,1277.719971,1277.719971,10980000,NaN
4,1985-02-04,1272.079956,1294.939941,1268.989990,1290.079956,1290.079956,11630000,0.009673
5,1985-02-05,1294.060059,1301.130005,1278.599976,1285.229980,1285.229980,13800000,-0.003759
6,1985-02-06,1284.890015,1294.500000,1275.069946,1280.589966,1280.589966,14610000,-0.003610
7,1985-02-07,1285.000000,1297.040039,1279.810059,1290.079956,1290.079956,11440000,0.007411
...,...,...,...,...,...,...,...,...
9004,2020-10-19,28633.550781,28711.929688,28139.400391,28195.419922,28195.419922,358700000,-0.014364
9005,2020-10-20,28245.849609,28575.029297,28243.039063,28308.789063,28308.789063,350220000,0.004021
9006,2020-10-21,28270.660156,28450.640625,28196.390625,28210.820313,28210.820313,299420000,-0.003461
9007,2020-10-22,28197.419922,28421.310547,28040.179688,28363.660156,28363.660156,330320000,0.005418
9008,2020-10-23,28409.650391,28436.519531,28149.820313,28335.570313,28335.570313,347300000,-0.000990

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [78]:
dow_filtered.pct_change()

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [74]:
type(dow_filtered['Close'])

pandas.core.series.Series